<!-- Footer -->
<footer class="site-footer">
  <div class="container">
    <div class="footer-links">
      <ng-container *ngFor="let link of links">
        <!-- External link -->
        <a *ngIf="link.isExternal && link.url" 
           [href]="link.url" 
           target="_blank" 
           rel="noopener noreferrer" 
           class="footer-link">
          {{ link.label }}
        </a>
        
        <!-- Internal router link -->
        <a *ngIf="link.route && !link.isExternal" 
           [routerLink]="link.route" 
           class="footer-link">
          {{ link.label }}
        </a>
        
        <!-- Special case links like mailto: -->
        <a *ngIf="!link.route && link.url && !link.isExternal"
           [href]="link.url"
           class="footer-link">
          {{ link.label }}
        </a>
      </ng-container>
    </div>
    
    <div class="footer-copyright">
      <p>{{ copyrightText }}</p>
    </div>
  </div>
</footer>
